@import "../../styles/_variable.css";

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
    margin: 80px 0;
}

.article-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;
    max-width: 600px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
}

.tag {
    background-color: #0a0a0a;
    padding: 8px 16px;
    border-radius: 100px;
    width: fit-content;
    text-align: center;
    font-family: var(--textFont);
    color: var(--colorWhite);
    font-size: 0.9em;
}

.article-image {
    width: 100%;
}

.article-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    max-width: 576px;
}

/* <1024 px */

@media (max-width: 1024px ) {

    article {
        justify-content: center;
    }

    .article-left {
        width: 100%;
        max-width: 600px;
    }

    .article-right {
        width: 100%;
        max-width: 600px;
    }
}

/* <768 px */

@media (max-width: 768px ) {

    .article-image {
        max-width: 500px;
        max-height: 500px;
    }
}