@import "../../styles/_variable.css";

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
    padding: 40px 10px;
}

.article-left {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
    max-width: 600px;
    background-color: #1a1a1a;
    padding: 90px 50px;
    border-radius: 12px;
    transition:
        background-color 0.2s;
}


.article-left:hover {
    background-color: #393939;
}

.tag {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #0a0a0a;
    padding: 8px 16px;
    border-radius: 100px;
    width: fit-content;
    text-align: center;
    font-family: var(--textFont);
    color: var(--colorWhite);
    font-size: 0.9em;
}

.article-image {
    object-fit: cover;
    border-radius: 12px;
    height: 300px;
    width: 100%;
}

.article-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.project-link-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 25px;
}

.project-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: solid 1px var(--actionColor);
    height: 23px;
    transition:
        height 0.1s;

}

.project-link>a {
    color: var(--actionColor);
    cursor: pointer;
}

.project-link:hover {
    height: 25px;
}

.link-image {
    height: 23px;
}

.project-skills{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

  @keyframes scaleUp {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .article-left, .article-right {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
 
  .article-left.visible {
    animation: slideInLeft 1s ease-out forwards; 
  }
  
  .article-right.visible {
    animation: scaleUp 1s ease-out forwards; 
  }
  

/* <1024 px */

@media (max-width: 1024px) {

    article {
        justify-content: center;
        padding: 40px 0;
    }

    .article-left {
        width: 100%;
        max-width: 600px;
    }

    .article-right {
        width: 100%;
        max-width: 600px;
    }
}

/* <768 px */

@media (max-width: 768px) {

    .article-left {
        padding: 70px 20px;
    }

    .article-image {
        object-fit: cover;
        border-radius: 12px;
        height: 250px;
        width: 100%;
    }
}