.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    margin-top: 40px;
}

.button {
    position: relative;
    background-color: var(--actionColor);
    border-radius: 100px;
    padding: 15px 50px 15px 15px;
    color: var(--colorBlack);
    min-width: 105px;
    max-width: 190px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button:hover .dot {
    transform: translateY(-50%) scale(4.5);
    transform-origin: center;
}

.dot {
    position: absolute;
    width: 8px;
    height: 8px;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.rs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0;
}

.svg-rs rect,
.svg-rs path {
    transition: fill 0.3s ease;
}

.rs:hover rect{
    fill: var(--actionColor);
}

.rs:hover path{
    fill: #222222;
}