@import "../../styles/_variable.css";

.form-left {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.span-form {
    font-family: var(--textFont);
    font-size: 1.125em;
}

.a-form {
    color: var(--colorWhite);
    transition: color 0.2s ease;
}

.a-form:hover {
    color: var(--actionColor);
}

form {
    width: 50%;
    max-width: 700px;
}

form>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 8px;
}

form label {
    color: var(--colorGrey);
    font-family: var(--textFont);
}

form input {
    height: 40px;
    background-color: #1a1a1a;
    border-radius: 4px;
    padding: 12px 16px;
    color: var(--colorWhite);
    font-size: 1.125em;
    border: none;
    font-family: var(--textFont);
}

form textarea {
    height: 156px;
    background-color: #1a1a1a;
    border-radius: 4px;
    padding: 12px 16px;
    color: var(--colorWhite);
    font-size: 1.125em;
    border: none;
    font-family: var(--textFont);
}

.button-submit {
    background-color: var(--actionColor);
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    color: var(--colorBlack);
    max-width: 140px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
}

.button-submit:hover {
   box-shadow: 0px 7px 30px #D3E97A60;
}

.rs-form-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
    display: block;
  }

/* <1024px */

@media (max-width: 1024px) {

    form {
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }

}