:root {
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --colorGrey: #C7C7C7;
    --colorBordure: #9d9d9d;
    --actionColor: #D3E97A;
    --titleFont: "Bebas Neue";
    --textFont: "Manrope";
}