@import "./_variable.css";

body,
html,
#root {
    height: 100%;
    width: 100%;
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
    max-width: 1224px;
    margin: auto;
}

section {
    padding: 40px 0;
    border-bottom: solid 1px var(--colorBordure);
    display: flex;
    gap: 30px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 76px;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px 60px;
    max-width: 1440px;
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

span {
    font-family: var(--titleFont);
    color: var(--colorGrey);
    height: fit-content;
    font-size: 32px;
}

nav {
    display: flex;
    gap: 32px;
    align-items: center;
}

link,
a {
    color: var(--colorGrey);
    font-family: var(--textFont);
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-family: var(--titleFont);
    font-size: 6.5em;
    font-weight: 400;
    line-height: 90%;
    margin: 0;
    max-width: 550px;
}

h2 {
    font-family: var(--titleFont);
    font-size: 4.75em;
    font-weight: 400;
    margin: 0;
}

h3 {
    font-family: var(--textFont);
    font-size: 2em;
    font-weight: 500;
}

h4 {
    font-family:var(--textFont) ;
    font-size: 1em;
    font-weight: 600;
}

p {
    font-family: var(--textFont);
    font-size: 1.125em;
    margin: 0;
    font-weight: 300;
    color: var(--colorGrey);
}


/* < 1024px */

@media (max-width: 1024px) {
    nav {
        display: none;
    }
}