@import "../../styles/_variable.css";

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.link-article {
    width: 100%;
    border-radius: 12px;
    margin: 40px 0 0 0;
    transition:
        background-color 0.2s;

}

.link-article:hover {
    background-color: #6969696b;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.profile-pic {
    height: 700px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

img {
    max-height: 400px;
    align-self: center;
}

.rs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    margin-top: 40px;
}

.button {
    background-color: var(--actionColor);
    border-radius: 100px;
    padding: 15px 24px 15px 15px;
    color: var(--colorBlack);
    max-width: 190px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.dot {
    width: 8px;
    height: 8px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    max-width: 700px;
}

.about-link {
    color: var(--actionColor);

}

.about-link-container {
    border-bottom: 1px solid var(--actionColor);
    width: fit-content;
    height: 23px;
    margin-bottom: 200px;
}

/* <1024px */

@media (max-width: 1024px) {

    .hero {
        justify-content: center;
    }

    .hero-left {
        width: 100%;
        max-width: 600px;
    }

    img {
        max-width: 600px;
        max-height: 600px;
    }

    .about {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .about-link-container {
        margin-bottom: 100px;
    }
}

/* <768px */

@media (max-width: 768px) {

    .profile-pic {
        height: 400px;
    }
}