@import "../../styles/_variable.css";


.project-title {
    margin-bottom: 50px;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.hero {
    padding: 0 0 40px 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.hero-left>h1 {
    text-align: start;
}

.profile-pic {
    height: 700px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

img {
    max-height: 400px;
    align-self: center;
    border-radius: 12px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    max-width: 700px;
}

.about-link-container {
    display: flex;
    position: relative;
    width: fit-content;
    height: 25px;
    z-index: 0;
    margin-bottom: 200px;
}

.about-link {
    position: relative;
    z-index: 10;
    color: var(--actionColor);
    border-bottom: 1px solid var(--colorBlack);
    height: 23px;
    transition: all 0.3s ease;
}

.about-link:hover {
    border-bottom: 1px solid var(--actionColor);
}

.pagination {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 40px;
}

.pagination-button {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    font-family: var(--textFont);
    font-size: 1.125em;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pagination-button:hover {
    color: var(--actionColor);
}

/* <1024px */

@media (max-width: 1024px) {

    .hero {
        justify-content: center;
    }

    .hero-left {
        width: 100%;
        margin-top: 60px;
    }

    img {
        max-width: 500px;
        max-height: 600px;
    }

    .about {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .about-link-container {
        margin-bottom: 100px;
    }

    .project-title>h2 {
        margin-bottom: 10px;
    }
}

/* <768px */

@media (max-width: 768px) {

    .profile-pic {
        height: 450px;
    }

    .contact {
        width: 100%;
        max-width: 320px;
    }
}