.descktop-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.toggle-icon {
    display: none;
}

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

/* <1024 */

@media (max-width: 1024px) {

    .toggle-icon {
        display: block;
    }

    .hamburger {
        margin: auto;
        width: 25px;
        height: 25px;
        position: relative;
    }

    .hamburger .bar {
        padding: 0;
        width: 25px;
        height: 3px;
        background-color: var(--colorGrey);
        display: block;
        transition: all 0.4s ease-in-out;
        position: absolute;
    }

    .bar1 {
        top: 10px;
    }

    .bar4 {
        bottom: 0;
    }

    .bar.bar1.rotate {
        transform: rotate(45deg);
        transform-origin: 16%;
        width: 25px
    }

    .bar.bar4.rotate {
        transform-origin: 16%;
        transform: rotate(-45deg);
        width: 25px;
    }

}
