@import "../../styles/_variable.css";

.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px var(--colorGrey);
    align-items: center;
    gap: 20px;
    min-width: 80px;
}

.skill>img {
    width: 40px;
    height: 40px;
}

.skill>span {
    color: var(--colorWhite);
    font-size: 18px;
    text-transform: uppercase;
}